<div class="col-md-3 left_col" data-th-fragment="sidebar-main" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="main.html" class="site_title">
                <!--     <span style="font-family: Tinos; color: white">MARKO&nbsp</span> -->
                    <span style="font-family: Kaushan Script, cursive; color: #82b440; margin-right: 25px;">zegarki</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="../static/images/img.jpg" th:src="@{/images/img.jpg}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Admin</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/index}">Dashboard</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Marko.pl <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/marko/brand}">Aktualizacje</a></li>
                            <li><a th:href="@{/marko/select_brand}">Ceny</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> Zegarek.net <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a th:href="@{/zegarek_net/brand}">Aktualizacje</a></li>
                            <li><a th:href="@{/zegarek_net/select_brand}">Ceny</a></li>
                            <li><a href="#">Atrybuty i zdjęcia</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i> Stany magazynowe <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#">Zibi</a></li>
                            <li><a href="#">Fossil</a></li>
                            <li><a href="#">Timex</a></li>
                            <li><a href="#">Jubiler</a></li>
                            <li><a href="#">Wiko</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>